<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="content">

	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Branches</h1>
		</div>
	</div>
	<div class="row">

		<table class="table table-hover table-condensed table-responsive">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Description</th>
					<th>Creation Date</th>
					<th>Active</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="branch : ${branchs}" th:object="${branch}">

					<td th:text="*{id}"></td>

					<td th:text="*{name}"></td>

					<td th:text="*{description}"></td>

					<td th:text="*{createDate}"></td>

					<td>
						<input type="checkbox" class="checkbox" name="active" th:checked="*{isActive}" disabled="disabled"/>
					</td>

					<td>
						<a th:href="@{/admin/update-branch/__*{id}__}" class="btn btn-primary" title="Edit">
							<i class="glyphicon glyphicon-pencil"></i>
						</a> 
						<a th:href="@{/admin/active-branch/__*{id}__}"  class="btn btn-danger"
						title="In Active / Active">
							<i class="glyphicon glyphicon-trash"></i>
						</a>
					</td>
				</tr>
			</tbody>
		</table>

	</div>

	<!-- Delete modal data-toggle="modal"	data-target=".delete-modal-sm"
	<div class="modal fade delete-modal-sm" tabindex="-1" role="dialog"
		aria-labelledby="delete">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Set In Active/Active Branch</h4>
				</div>
				<div class="modal-body">
					Are you sure to in active / active this branch!
				</div>
				<div class="modal-footer">
					<a th:href="@{/admin/active/__*{id}__}" class="btn btn-success">Yes</a>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
	-->

</th:block>